
@{
    var usuario = (backend.Models.Usuario)Session["usuario"];
    usuario.Nome = usuario.Nome.Split(' ').FirstOrDefault();
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Portal de Empregabilidade Senai</title>
    <link rel="stylesheet" href="~/Content/Css/dashboard/main.css" />
    <link rel="stylesheet" href="~/Content/Css/users.css" />
</head>
<body>
    <main id="users">
        <div class="switch-mode-container switch-mode-container-admin">
            <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
        </div>
        <aside id="sidemenu">
            <div class="logo-sidemenu">
                <img src="~/Content/Images/logo.png" alt="senai logo negativada" />
            </div>
            <div class="menu-links">
                <div class="menu-link-container">
                    <a class="link" href="#">
                        <div class="icon-container">
                            <img src="~/Content/Svg/users.svg" alt="usuários" />
                        </div>
                        Usuários
                    </a>
                </div>
                <div class="menu-link-container">
                    <a class="link" href="#">
                        <div class="icon-container">
                            <img src="~/Content/Svg/skills.svg" alt="Habilidades" />
                        </div>
                        Habilidades
                    </a>
                </div>
                <div class="menu-link-container">
                    <a class="link" href="#">
                        <div class="icon-container">
                            <img src="~/Content/Svg/courses.svg" alt="Cursos" />
                        </div>
                        Cursos
                    </a>
                </div>
                <div class="menu-link-container">
                    <a class="link" href="#">
                        <div class="icon-container">
                            <img src="~/Content/Svg/grads.svg" alt="Formação" />
                        </div>
                        Formação
                    </a>
                </div>
            </div>
            <div class="logout"></div>
        </aside>
            @RenderBody()
    </main>
    <script src="~/Content/Js/Helpers/darkmode-helper.js"></script>
</body>
</html>
