@model backend.Models.Curso
@{
    ViewBag.Title = "Editar Curso";
}

<div class="row">
    <div class="col-md-6">
        <h1>Editar Curso</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form action="/Curso/EditarAction" method="post" class="jValidator">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome do Curso</label>
                <input name="nome" type="text" class="form-control" id="nome" value="@Model.Nome" data-rules="required|min:3|max:50">
                <input name="id" type="hidden" class="form-control" id="id" value="@Model.Id">
            </div>
            <button type="submit" class="btn btn-success">Editar Curso</button>
        </form>
    </div>
</div>
<script src="~/Scripts/validator.js"></script>