@model backend.Models.Curso
@{
    ViewBag.Title = "Editar Curso";
    var curso = Model;
}
<link href="~/Content/Css/form.css" rel="stylesheet" />
<div id="users-container" class="dashboard-container">
    <h1 class="page-title"><a href="/Curso"><</a> Editar curso</h1>
    <div class="search">
        <form action="/Curso/EditarAction" method="post" class="form-single">
            <div class="input-container">
                <label for="nome">Curso</label>
                <input name="nome" type="text" id="nome" value="@curso.Nome" />
                <input name="id" type="hidden" id="id" value="@curso.Id">
                <button type="submit" class="btn-form">Editar</button>
            </div>
        </form>
    </div>
</div>
<script src="~/Content/Js/Helpers/input-helper.js"></script>