.feedback-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.feedback-item {
    width: 32%;
    margin: 0 5px 20px 5px;
}

.feedback-item-header {
    background-color: #D92E2E;
    border-radius: 10px 10px 0 0;
    padding: 8px 10px;
    text-align: center;
    color: #fff;
}
.feedback-item-body {
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #cccccc;
    height: 110px;
}
