.search {
    height: 100%;
    max-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.btn-green {
    text-decoration: none;
    color: #f4f4f4;
    background: #009129;
    padding: 10px 20px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width:500px;
    justify-content: center;
}

.input-container {
    position: relative;
    padding: 30px 0;
    width: 100%;
}

.input-container>label {
    position: absolute;
    top: 42px;
    left: 10px;
    font-size: 1.15rem;
    color: #cecece;
    z-index: 999;
    transition: .4s ease-in-out;
    cursor: text;
}

.input-container>label.focus-input {
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 1.15rem;
    color: #474747;
    z-index: 999;
    transition: .4s ease-in-out;
}

.input-container>input {
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 11px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #efefef;
}

.input-container > input:focus, .input-container > textarea:focus {
    outline-color: #4455dd;
}

.form-single {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-form {
    text-decoration: none;
    color: #f4f4f4;
    background: #009129;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

.page-title a {
    text-decoration: none;
}

.search-word {
    margin-bottom: 30px;
}

.search-word span {
    font-style: italic;
}

.search > .form-experiencia-formacao > .input-container > input {
    max-width: none;
}

.search > .form-experiencia-formacao > .input-container {
    padding: 20px 0;
}

.search > .form-experiencia-formacao > .input-container label {
    top: 32px;
}

.search > .form-experiencia-formacao > .input-container label.focus-input {
    top: -6px;
}

.double-input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.double-input-container .input-container {
    width: 200px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 5px 0 0 -3px;
}

.checkbox-container label {
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
}

.input-container > textarea {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 11px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #efefef;
    resize: none;
}

.form-experiencia-formacao .btn-form {
    align-self: start;
}