.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s ease-in-out;
}

.slider:before {
    background: url("../Svg/sun2.svg"), #fff;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 1px;
    content: "";
    height: 26px;
    left: 1px;
    padding: 3px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked + .slider {
  background-color: #3B4D5C;
}

    input:checked + .slider:before {
        transform: translateX(26px);
        background: url("../Svg/moon.svg"), #1e262e;
        background-size: contain;
        background-repeat: no-repeat;
    }

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-mode-container {
  position: absolute;
  top: 40px;
  right: 50px;
}

.switch-mode-container-admin {
  top: 50px;
}
