@model backend.Models.Curso
@{
    ViewBag.Title = "Cadastrar Curso";
}

<div class="row">
    <div class="col-md-6">
        <h1>Cadastrar novo tipo de formação</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form action="/TipoFormacao/CadastrarAction" method="post" class="jValidator">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome do tipo de formação</label>
                <input name="nome" type="text" class="form-control" id="nome" data-rules="required|min:3|max:50">
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>
<script src="~/Scripts/validator.js"></script>

