@model backend.Models.VagaJornada
@{
    ViewBag.Title = "Editar Tipo de Jornada";
    var vagaJornada = Model;
}
<link href="~/Content/Css/form.css" rel="stylesheet" />
<div id="users-container" class="dashboard-container">
    <h1 class="page-title"><a href="/VagaJornada"><</a> Editar tipo de contrato</h1>
    <div class="search">
        <form action="/VagaJornada/EditarAction" method="post" class="form-single">
            <div class="input-container">
                <label for="descricao">Tipo de Contrato</label>
                <input name="descricao" type="text" id="descricao" value="@vagaJornada.Descricao" />
                <input name="id" type="hidden" id="id" value="@vagaJornada.Id">
                <button type="submit" class="btn-form">Editar</button>
            </div>
        </form>
    </div>
</div>
<script src="~/Content/Js/Helpers/input-helper.js"></script>