@model IEnumerable<backend.Models.TipoFormacao>
@{
    ViewBag.Title = "Cadastrar Nova Formação";
}
<link href="~/Content/Css/form.css" rel="stylesheet" />
<div id="users-container" class="dashboard-container">
    <h1 class="page-title"><a href="/Curriculo/MeuCurriculo"><</a> Cadastrar Formação</h1>
    <div class="form-experiencia-formacao">
        <form action="/Formacao/CadastrarAction" method="post" class="jValidator">
            <div class="input-container">
                <label for="nome">Nome</label>
                <input name="nome" type="text" id="nome" data-rules="required|min:3|max:100" />
            </div>
            <div class="input-container">
                <label for="instituicao">Instituição</label>
                <input name="instituicao" type="text" id="instituicao" data-rules="required|min:3|max:100" />
            </div>
            <div class="input-container">
                <label for="inicio">Início</label>
                <input name="inicio" type="text" id="inicio" data-rules="required" />
            </div>
            <div class="input-container">
                <label for="conclusao">Conclusão</label>
                <input name="conclusao" type="text" id="conclusao" data-rules="required" />
            </div>
            <div class="input-container">
                <label for="resumo">Resumo das atividades</label>
                <textarea name="resumo" id="resumo" data-rules="required|max:500"></textarea>
            </div>
            <div class="input-container">
                <label for="tipoFormacao">Tipo de Formação</label>
                <select name="tipoFormacao" id="tipoFormacao" data-rules="pick">
                    <option value="" selected></option>
                    @foreach (var tipoFormacao in Model) {
                        <option value="@Html.DisplayFor(id => tipoFormacao.Id)">@Html.DisplayFor(id => tipoFormacao.Nome)</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn-form">Cadastrar</button>
        </form>
    </div>
</div>
<script src="~/Content/Js/Helpers/input-helper.js"></script>
<script src="~/Content/Js/validator.js"></script>
<script src="~/Content/Js/imask.js"></script>
<script>
    var inicio = IMask(
        document.getElementById('inicio'),
        {
            mask: Date,
            min: new Date(1990, 0, 1),
            max: new Date(3000, 0, 1),
            lazy: false
        });
    var conclusao = IMask(
        document.getElementById('conclusao'),
        {
            mask: Date,
            min: new Date(1990, 0, 1),
            max: new Date(3000, 0, 1),
            lazy: false
        });
</script>