@{
    ViewBag.Title = "Cadastrar Vaga";
    var jornadas = ViewData["jornadas"] as List<backend.Models.VagaJornada>;
    var tiposContracao = ViewData["tiposContratacao"] as List<backend.Models.VagaTipo>;
}

<link href="~/Content/Css/form.css" rel="stylesheet" />
<div id="users-container" class="dashboard-container">
    <h1 class="page-title"><a href="/Vaga"><</a> Cadastrar vaga</h1>
    <div class="job-form">
        <form action="/Vaga/CadastrarAction" method="post" class="jValidator">
            <div class="double-input-container">
                <div class="input-container">
                    <label for="jornada">Jornada</label>
                    <select name="jornada" id="jornada" data-rules="pick">
                        <option value="0" selected></option>
                        @foreach (var jornada in jornadas) {
                            <option value="@jornada.Id">@jornada.Descricao</option>
                        }
                    </select>
                </div>
                <div class="input-container">
                    <label for="tipo">Tipo de Contratação</label>
                    <select name="tipo" id="tipo" data-rules="pick">
                        <option value="0" selected></option>
                        @foreach (var tipo in tiposContracao) {
                            <option value="@tipo.Id">@tipo.Descricao</option>
                        }
                    </select>
                </div>
            </div>
            <div class="double-input-container">
                <div class="input-container">
                    <label for="cargo">Cargo</label>
                    <input name="cargo" type="text" id="cargo" />
                </div>
                <div class="input-container">
                    <label for="quantidade">Quantidade</label>
                    <input name="quantidade" type="text" id="quantidade" />
                </div>
            </div>
            <div class="double-input-container">
                <div class="input-container">
                    <label for="cidade">Cidade</label>
                    <input name="cidade" type="text" id="cidade" />
                </div>
                <div class="input-container">
                    <label for="estado">Estado</label>
                    <select name="estado" id="estado" data-rules="pick">
                        <option value="0" selected></option>
                        <option value="SP"> São Paulo</option>
                    </select>
                </div>
            </div>
            <div class="double-input-container">
                <div class="input-container">
                    <label for="empresa">Empresa contratante</label>
                    <input name="empresa" type="text" id="empresa" />
                </div>
                <div class="input-container">
                    <label for="remuneracao">Remuneração</label>
                    <input name="remuneracao" type="text" id="remuneracao" />
                </div>
            </div>

                <div class="input-container">
                    <label for="requisitos">Requisitos</label>
                    <textarea name="requisitos" id="requisitos"></textarea>
                </div>
                <div class="input-container">
                    <label for="atribuicoes">Atribuições</label>
                    <textarea name="atribuicoes" id="atribuicoes"></textarea>
                </div>


                <div class="input-container">
                    <label for="beneficios">Benefícios</label>
                    <textarea name="beneficios" id="beneficios"></textarea>
                </div>
                <div class="input-container">
                    <label for="observacoes">Observações</label>
                    <textarea name="observacoes" id="observacoes"></textarea>
                </div>

            <div class="double-input-container">

                <div class="input-container">
                    <label for="dataLimite">Data limite</label>
                    <input name="dataLimite" type="text" id="dataLimite" />
                </div>
            </div>
            <button type="submit" class="btn-form">Cadastrar</button>
        </form>
    </div>
</div>
<script src="~/Content/Js/Helpers/input-helper.js"></script>
<script src="~/Scripts/validator.js"></script>