#table {
    width: 100%;
    margin-top: 40px;
    border-collapse: separate;
    border: solid #ccc 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#table thead {
    background: #d90204;
}

#table thead tr th:first-of-type {
    border-radius: 5px 0 0 0;
}

#table thead tr th:last-of-type {
    border-radius: 0 5px 0 0;
}

#table thead tr th {
    padding: 15px;
    color: #fefefe;
    text-align: left;
}

#table tbody tr td {
    padding: 15px;
    text-align: left;
}

    #table tbody tr td:last-of-type .controlls {
        display: flex;
        justify-content: space-around;
    }

#table tbody tr:hover td {
    background: rgba(0, 0, 0, 0.075);
}

.pagination {
    display: flex;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
}

    .pagination a {
        text-decoration: none;
    }

.page-item {
    padding: 5px;
}

.page-item.active a {
    color: #d90204;
}
