@{
    ViewBag.Title = "Cadastrar Habilidade";
}
<link href="~/Content/Css/form.css" rel="stylesheet" />
<div id="users-container" class="dashboard-container">
    <h1 class="page-title"><a href="/Habilidade"><</a> Cadastrar habilidade</h1>
    <div class="search">
        <form action="/Habilidade/CadastrarAction" method="post" class="form-single">
            <div class="input-container">
                <label for="nome">Habilidade</label>
                <input name="nome" type="text" id="nome" />
                <button type="submit" class="btn-form">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
<script src="~/Content/Js/Helpers/input-helper.js"></script>